@{
    ViewBag.Title = "Home Page";
}

@*//This is the home page for our pet closet*@

@*Carousel instead of Jumbotron to greet you*@
<div id="carousel-example" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="item active">
            <a href="#"><img src="~/Content/Images/carousel2.jpg" class="carousel-images"/></a>
        </div>
        <div class="item">
            <a href="#"><img src="~/Content/Images/carousel1.jpg" class="carousel-images"/></a>
        </div>
        <div class="item">
            <a href="#"><img src="~/Content/Images/carousel3.jpg" class="carousel-images"/></a>
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>