@model IEnumerable<WardrobeMVC.Models.Bottom>

@{
    ViewBag.Title = "Bottoms";
}

@*//This is the main landing page for the bottoms category*@

<p class="head">Bottoms</p>

@*loop for each element to show up*@

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">@*//Empty for formatting*@</div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.Photo)" />
                <h3 class="info" style="font-weight:800">@Html.DisplayFor(modelItem => item.Name)</h3>
                <p class="info">
                    @Html.ActionLink("Details", "Details", new { id = item.BottomID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BottomID })

                </p>
            </div>
        </div>
        <div class="col-md-4">@*//Empty for formatting*@</div>
    </div>
}
