@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Tops";
}

@*//This is the landing page for the tops category*@
<h2>Tops</h2>

@*loop for each element to show up*@

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">@*//Empty for formatting*@</div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.Photo)" />
                <h3 class="info">@Html.DisplayFor(modelItem => item.Name)</h3>
                <p class="info">
                    @Html.ActionLink("Details", "Details", new { id = item.TopID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TopID })

                </p>
            </div>
        </div>
        <div class="col-md-4">@*//Empty for formatting*@</div>
    </div>
}

